In [1]:
import numpy as np
import pandas as pd

In [4]:
path = './datasets/HKMO_Award_List/'

In [23]:
HKMO_Award_List_2024 = pd.read_csv(path + 'HKMO_Award_List_2024.csv', delimiter='	')
HKMO_Award_List_2024_schools = HKMO_Award_List_2024['就讀學校'].value_counts()

HKMO_Award_List_2023 = pd.read_csv(path + 'HKMO_Award_List_2023.csv', delimiter='	')
HKMO_Award_List_2023_schools = HKMO_Award_List_2023['就讀學校'].value_counts()

HKMO_Award_List_2022 = pd.read_csv(path + 'HKMO_Award_List_2022.csv', delimiter='	')
HKMO_Award_List_2022_schools = HKMO_Award_List_2022['學校編號'].value_counts()

HKMO_Award_List_2021 = pd.read_csv(path + 'HKMO_Award_List_2021.csv', delimiter='	')
HKMO_Award_List_2021_schools = HKMO_Award_List_2021['學校編號'].value_counts()

In [71]:
HKMO_Award_List = pd.concat([HKMO_Award_List_2024_schools, HKMO_Award_List_2023_schools, HKMO_Award_List_2022_schools,HKMO_Award_List_2021_schools], axis=1,ignore_index=True)
HKMO_Award_List.columns = ['2024','2023','2022','2021']
HKMO_Award_List.values[HKMO_Award_List.isna()] = 0
HKMO_Award_List.reset_index(inplace=True)
HKMO_Award_List.rename(columns={'index': 'School Code'}, inplace=True)
HKMO_Award_List

    School Code  2024  2023  2022  2021
0        AP0409  27.0   6.0   1.0   6.0
1        AP0301  15.0   3.0   0.0   6.0
2        AP0118  14.0  31.0   6.0  10.0
3        AP0544  14.0  13.0   0.0   4.0
4        AP0653  13.0   9.0   4.0   8.0
..          ...   ...   ...   ...   ...
535      AP0078   0.0   0.0   0.0   1.0
536      AP0595   0.0   0.0   0.0   1.0
537      AP0370   0.0   0.0   0.0   1.0
538      AP0148   0.0   0.0   0.0   1.0
539      AS0146   0.0   0.0   0.0   1.0

[540 rows x 5 columns]

In [70]:
primary_school_code_and_list = pd.read_csv('./datasets/primary_school_code_and_list.csv')
primary_school_code_and_list

     Unnamed: 0 District Sub_District School Code School Name
0             0       港島          中西區      AP0159       己連拿小學
1             1       港島          中西區      AP0078   中西區聖安多尼學校
2             2       港島          中西區      AP0052    天主教總堂區學校
3             3       港島          中西區      AP0311        李陞小學
4             4       港島          中西區      AP0280   英皇書院同學會小學
..          ...      ...          ...         ...         ...
576         576       新界          西貢區      AP0319     樂善堂劉德學校
577         577       新界          西貢區      AP0693        樹宏學校
578         578       新界          西貢區      AP0153  優才（楊殷有娣）書院
579         579       新界          西貢區      AP0714     思貝禮國際學校
580         580       新界          西貢區      AP0719   茵維特(香港)學校

[581 rows x 5 columns]

In [77]:
merged_dataframe = pd.merge(primary_school_code_and_list, HKMO_Award_List, on='School Code', how='inner')
merged_dataframe

,Unnamed: 0,District,Sub_District,School Code,School Name,2024,2023,2022,2021
0,1,港島,中西區,AP0078,中西區聖安多尼學校,0.0,0.0,0.0,1.0
1,3,港島,中西區,AP0311,李陞小學,1.0,0.0,0.0,0.0
2,4,港島,中西區,AP0280,英皇書院同學會小學,2.0,0.0,0.0,0.0
3,5,港島,中西區,AP0281,英皇書院同學會小學第二校,3.0,1.0,0.0,1.0
4,7,港島,中西區,AP0026,般咸道官立小學,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
361,571,新界,西貢區,AP0175,港澳信義會小學,1.0,0.0,0.0,0.0
362,573,新界,西貢區,AP0566,順德聯誼總會梁潔華小學,3.0,0.0,0.0,1.0
363,575,新界,西貢區,AP0135,播道書院,3.0,0.0,0.0,1.0
364,578,新界,西貢區,AP0153,優才（楊殷有娣）書院,7.0,4.0,1.0,7.0
365,579,新界,西貢區,AP0714,思貝禮國際學校,1.0,0.0,0.0,0.0

In [84]:
merged_dataframe['District'].value_counts()

District
新界    181
九龍    114
港島     71
Name: count, dtype: int64

In [85]:
merged_dataframe['Sub_District'].value_counts()

Sub_District
九龍城區    41
沙田區     35
元朗區     31
屯門區     27
東區      23
深水埗區    22
北區      20
觀塘區     20
中西區     17
大埔區     17
西貢區     17
油尖旺區    16
灣仔區     16
黃大仙區    15
南區      15
葵青區     14
荃灣區     13
離島區      7
Name: count, dtype: int64

In [88]:
# 计算每个区和子区的总和
merged_dataframe['Total'] = merged_dataframe[['2024', '2023', '2022', '2021']].sum(axis=1)
result = merged_dataframe.groupby(['District', 'Sub_District'])['Total'].sum().reset_index()
result

   District Sub_District  Total
0        九龍         九龍城區  325.0
1        九龍         油尖旺區  113.0
2        九龍         深水埗區  140.0
3        九龍          觀塘區   96.0
4        九龍         黃大仙區   51.0
5        新界          元朗區   87.0
6        新界           北區   73.0
7        新界          大埔區   52.0
8        新界          屯門區  109.0
9        新界          沙田區  137.0
10       新界          荃灣區   61.0
11       新界          葵青區   51.0
12       新界          西貢區   85.0
13       新界          離島區   24.0
14       港島          中西區   46.0
15       港島           南區  168.0
16       港島           東區  122.0
17       港島          灣仔區  101.0