In [1]:
from pymongo import MongoClient

mongo = MongoClient("mongodb+srv://fltenwall:sc123456@cluster0.9eb0e.mongodb.net/")

In [2]:
products = [ { "_id": 1, "name": "Apple", "category": "Fruits", "price": 0.5, "stock": 100 }, { "_id": 2, "name": "Banana", "category": "Fruits", "price": 0.3, "stock": 150 }, { "_id": 3, "name": "Carrot", "category": "Vegetables", "price": 0.2, "stock": 200 }, { "_id": 4, "name": "Milk", "category": "Dairy", "price": 1.0, "stock": 50 }, { "_id": 5, "name": "Cheese", "category": "Dairy", "price": 2.5, "stock": 30 } ]

In [3]:
sales = [ { "_id": 1, "productId": 1, "quantity": 10, "date": "2023-10-01" }, { "_id": 2, "productId": 2, "quantity": 5, "date": "2023-10-02" }, { "_id": 3, "productId": 1, "quantity": 7, "date": "2023-10-03" }, { "_id": 4, "productId": 3, "quantity": 20, "date": "2023-10-04" }, { "_id": 5, "productId": 4, "quantity": 15, "date": "2023-10-05" } ]

In [7]:
mongo.HSU.create_collection("products")

Collection(Database(MongoClient(host=['cluster0-shard-00-01.9eb0e.mongodb.net:27017', 'cluster0-shard-00-02.9eb0e.mongodb.net:27017', 'cluster0-shard-00-00.9eb0e.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-1lgbwc-shard-0', tls=True), 'HSU'), 'products')

In [8]:
mongo.HSU.create_collection("sales")

Collection(Database(MongoClient(host=['cluster0-shard-00-01.9eb0e.mongodb.net:27017', 'cluster0-shard-00-02.9eb0e.mongodb.net:27017', 'cluster0-shard-00-00.9eb0e.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-1lgbwc-shard-0', tls=True), 'HSU'), 'sales')

In [9]:
mongo.HSU.products.insert_many(products)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [10]:
mongo.HSU.sales.insert_many(sales)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

## Task 3: Display all data in Python

In [14]:
col_products = mongo.HSU.products

In [15]:
list(col_products.find({}))

[{'_id': 1, 'name': 'Apple', 'category': 'Fruits', 'price': 0.5, 'stock': 100},
 {'_id': 2,
  'name': 'Banana',
  'category': 'Fruits',
  'price': 0.3,
  'stock': 150},
 {'_id': 3,
  'name': 'Carrot',
  'category': 'Vegetables',
  'price': 0.2,
  'stock': 200},
 {'_id': 4, 'name': 'Milk', 'category': 'Dairy', 'price': 1.0, 'stock': 50},
 {'_id': 5, 'name': 'Cheese', 'category': 'Dairy', 'price': 2.5, 'stock': 30}]

In [16]:
col_salse = mongo.HSU.sales

In [17]:
list(col_salse.find({}))

[{'_id': 1, 'productId': 1, 'quantity': 10, 'date': '2023-10-01'},
 {'_id': 2, 'productId': 2, 'quantity': 5, 'date': '2023-10-02'},
 {'_id': 3, 'productId': 1, 'quantity': 7, 'date': '2023-10-03'},
 {'_id': 4, 'productId': 3, 'quantity': 20, 'date': '2023-10-04'},
 {'_id': 5, 'productId': 4, 'quantity': 15, 'date': '2023-10-05'}]

## Task 4: Query

#### Query 1: Find products in "Dairy" category. Display their name, price and stock.

In [22]:
list(col_products.find({"category": "Dairy"}))

[{'_id': 4, 'name': 'Milk', 'category': 'Dairy', 'price': 1.0, 'stock': 50},
 {'_id': 5, 'name': 'Cheese', 'category': 'Dairy', 'price': 2.5, 'stock': 30}]

In [24]:
list(col_products.find(
    {"category": "Dairy"},
    ["name","price","stock"]
))

[{'_id': 4, 'name': 'Milk', 'price': 1.0, 'stock': 50},
 {'_id': 5, 'name': 'Cheese', 'price': 2.5, 'stock': 30}]

#### Query 2: Find sales records for productId 1. Display their quantity and date.

In [26]:
list(col_salse.find({"productId": 1}))

[{'_id': 1, 'productId': 1, 'quantity': 10, 'date': '2023-10-01'},
 {'_id': 3, 'productId': 1, 'quantity': 7, 'date': '2023-10-03'}]

In [27]:
list(col_salse.find(
    {"productId": 1},
    ["quantity","date"]
))

[{'_id': 1, 'quantity': 10, 'date': '2023-10-01'},
 {'_id': 3, 'quantity': 7, 'date': '2023-10-03'}]

## Task 5: Advanced query

#### Query 1: Find the total sales quantity per product. Display the product ID and the total sales quantity

In [62]:
list(col_salse.aggregate([
    {
        '$lookup': {
            'from': 'products',
            'localField': 'productId',
            'foreignField': '_id',
            'as': 'product_info'
        },
    },
        {'$unwind': '$product_info'},
        {'$group': 
            {
                '_id': '$productId',
                'total_sales_amount': {'$sum': {'$multiply': ['$quantity', '$product_info.price']}},
                'product_name': {'$first': '$product_info.name'},
                'product_category': {'$first': '$product_info.category'}
            }
        },    
        {
            '$sort': {'total_sales_amount': -1}
        },
        {
            '$limit': 3
        },
]))

[{'_id': 4,
  'total_sales_amount': 15.0,
  'product_name': 'Milk',
  'product_category': 'Dairy'},
 {'_id': 1,
  'total_sales_amount': 8.5,
  'product_name': 'Apple',
  'product_category': 'Fruits'},
 {'_id': 3,
  'total_sales_amount': 4.0,
  'product_name': 'Carrot',
  'product_category': 'Vegetables'}]

#### Query 2: Same as query 1 but also display the product name.

In [64]:
list(col_salse.aggregate([
    {
        '$lookup': {
            'from': 'products',
            'localField': 'productId',
            'foreignField': '_id',
            'as': 'product_info'
        },
    },
        {'$unwind': '$product_info'},
        {'$group': 
            {
                '_id': '$productId',
                'product_name': {'$first': '$product_info.name'},
            }
        },    
        {
            '$sort': {'total_sales_amount': -1}
        },
        {
            '$limit': 3
        },
]))

[{'_id': 4, 'product_name': 'Milk'},
 {'_id': 2, 'product_name': 'Banana'},
 {'_id': 3, 'product_name': 'Carrot'}]