## Install the package

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\python312\lib\site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\python312\lib\site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Connect to the database

We connect to the local MongoDB assuming there is no password.

In general, we may need to connect through a connection string

```python
db_url = "mongodb://XXX:YYY@server"
mongo = MongoClient(db_url)
```

In [13]:
from pymongo import MongoClient

mongo = MongoClient("mongodb+srv://fltenwall:sc123456@cluster0.9eb0e.mongodb.net/")

In [14]:
mongo.a.b.insert_one({"a":1})

InsertOneResult(ObjectId('6725cbfcb8801658259d7e8f'), acknowledged=True)

In [17]:
mongo.HSU.testing.insert_one({"name": "Wong Wai Kit", "age": 30})

InsertOneResult(ObjectId('6725ce19b8801658259d7e92'), acknowledged=True)

In [15]:
col = mongo.HSU.COM6002

## This inserts a new document in MongoDB. Check this in Compass
col.insert_one({"name": "Wong Wai Kit", "age": 18})

InsertOneResult(ObjectId('6725cc02b8801658259d7e90'), acknowledged=True)

In [18]:
data: list[dict] = []
data.append({"name": "Amy Wong", "age": 18})
data.append({"name": "Chris Wong", "age": 108})

# batch insert of multiple documents
col.insert_many(data)

InsertManyResult([ObjectId('6725cfdeb8801658259d7e93'), ObjectId('6725cfdeb8801658259d7e94')], acknowledged=True)

In [22]:
result = mongo.HSU.COM6002.find()

for x in result:
    print(x)

{'_id': ObjectId('6725cc02b8801658259d7e90'), 'name': 'Wong Wai Kit', 'age': 18}
{'_id': ObjectId('6725cfdeb8801658259d7e93'), 'name': 'Amy Wong', 'age': 18}
{'_id': ObjectId('6725cfdeb8801658259d7e94'), 'name': 'Chris Wong', 'age': 108}

In [30]:
mongo.HSU.testing.insert_one({"a":3,"b":4})

InsertOneResult(ObjectId('6725d362b8801658259d7e96'), acknowledged=True)

In [39]:
mongo.HSU.testing.insert_one({
    "a":3,
    "b":{"d":1},
    "e.f": {"g": 5, "h": 6},
    })

InsertOneResult(ObjectId('6725d49cb8801658259d7e98'), acknowledged=True)

In [57]:
result = list(mongo.HSU.testing.find({},{"a":3}))
result

[{'_id': ObjectId('6725cd7db8801658259d7e91')},
 {'_id': ObjectId('6725ce19b8801658259d7e92')},
 {'_id': ObjectId('6725d335b8801658259d7e95'), 'a': 3},
 {'_id': ObjectId('6725d362b8801658259d7e96'), 'a': 3},
 {'_id': ObjectId('6725d406b8801658259d7e97'), 'a': 3},
 {'_id': ObjectId('6725d49cb8801658259d7e98'), 'a': 3}]

In [59]:
result = list(mongo.HSU.testing.find({},{"a":{"$gt":[2,3]}}))
result

[{'_id': ObjectId('6725cd7db8801658259d7e91'), 'a': False},
 {'_id': ObjectId('6725ce19b8801658259d7e92'), 'a': False},
 {'_id': ObjectId('6725d335b8801658259d7e95'), 'a': False},
 {'_id': ObjectId('6725d362b8801658259d7e96'), 'a': False},
 {'_id': ObjectId('6725d406b8801658259d7e97'), 'a': False},
 {'_id': ObjectId('6725d49cb8801658259d7e98'), 'a': False}]

In [62]:
result = list(mongo.HSU.testing.find().sort("age", -1))
result

[{'_id': ObjectId('6725ce19b8801658259d7e92'),
  'name': 'Wong Wai Kit',
  'age': 30},
 {'_id': ObjectId('6725cd7db8801658259d7e91'),
  'name': 'Wong Wai Kit',
  'age': 18},
 {'_id': ObjectId('6725d335b8801658259d7e95'), 'a': 3},
 {'_id': ObjectId('6725d362b8801658259d7e96'), 'a': 3, 'b': 4},
 {'_id': ObjectId('6725d406b8801658259d7e97'), 'a': 3, 'b': {'d': 1}},
 {'_id': ObjectId('6725d49cb8801658259d7e98'),
  'a': 3,
  'b': {'d': 1},
  'e.f': {'g': 5, 'h': 6}}]

In [64]:
result = list(mongo.HSU.testing.find().sort("age", -1).skip(2))
result

[{'_id': ObjectId('6725d335b8801658259d7e95'), 'a': 3},
 {'_id': ObjectId('6725d362b8801658259d7e96'), 'a': 3, 'b': 4},
 {'_id': ObjectId('6725d406b8801658259d7e97'), 'a': 3, 'b': {'d': 1}},
 {'_id': ObjectId('6725d49cb8801658259d7e98'),
  'a': 3,
  'b': {'d': 1},
  'e.f': {'g': 5, 'h': 6}}]

In [65]:
result = list(mongo.HSU.testing.find().sort("age", -1).skip(2).limit(1))
result

[{'_id': ObjectId('6725d335b8801658259d7e95'), 'a': 3}]

In [24]:
# query with projection

query = {"name": "Wong Wai Kit"}
projection = {"_id": 0, "age": 1}
result = mongo.HSU.COM6002.find(query, projection)
for r in result:
    print(r)

{'age': 18}

In [5]:
# Let's add more records for testing

data = []

data.append({"name": "A", "age": 18})
data.append({"name": "B", "age": 108})
data.append({"name": "C", "age": 25})
data.append({"name": "D", "age": 25})
data.append({"name": "E", "age": 35})
data.append(
    {
        "name": "Special",
        "age": 108,
        "profile": {"Students": ["A", "B"], "Role": "Teacher"},
    }
)

col.insert_many(data)

InsertManyResult([ObjectId('670738445bbdfafa312266b0'), ObjectId('670738445bbdfafa312266b1'), ObjectId('670738445bbdfafa312266b2'), ObjectId('670738445bbdfafa312266b3'), ObjectId('670738445bbdfafa312266b4'), ObjectId('670738445bbdfafa312266b5')], acknowledged=True)

In [6]:
# More query examples

# With sorting and limit

result = col.find({}, {"name": 1, "_id": 0, "age": 1}).sort({"age": -1})
for r in result:
    print(r)

{'name': 'Chris Wong', 'age': 108}
{'name': 'B', 'age': 108}
{'name': 'Special', 'age': 108}
{'name': 'E', 'age': 35}
{'name': 'C', 'age': 25}
{'name': 'D', 'age': 25}
{'name': 'Wong Wai Kit', 'age': 18}
{'name': 'Amy Wong', 'age': 18}
{'name': 'A', 'age': 18}

In [7]:
# Further add a paging control

print("Page 1")
result = col.find({}, {"name": 1, "_id": 0, "age": 1}).sort({"age": -1}).limit(3)
for r in result:
    print(r)

print("Page 2")
result = (
    col.find({}, {"name": 1, "_id": 0, "age": 1}).sort({"age": -1}).skip(3).limit(3)
)
for r in result:
    print(r)

print("Page 3")
result = (
    col.find({}, {"name": 1, "_id": 0, "age": 1}).sort({"age": -1}).skip(6).limit(3)
)
for r in result:
    print(r)

Page 1
{'name': 'Special', 'age': 108}
{'name': 'B', 'age': 108}
{'name': 'Chris Wong', 'age': 108}
Page 2
{'name': 'E', 'age': 35}
{'name': 'D', 'age': 25}
{'name': 'C', 'age': 25}
Page 3
{'name': 'Wong Wai Kit', 'age': 18}
{'name': 'Amy Wong', 'age': 18}
{'name': 'A', 'age': 18}

In [8]:
from bson import Regex

regex = Regex(
    ".*a.*"
)  # only find those that contain the small letter "a". Capital letter "A" is not included!
result = col.find({"name": regex})
for r in result:
    print(r)

# For self study:
# What is regular expression? https://en.wikipedia.org/wiki/Regular_expression
# Learning regular expression (for python): https://www.w3schools.com/python/python_regex.asp

{'_id': ObjectId('670738385bbdfafa312266ad'), 'name': 'Wong Wai Kit', 'age': 18}
{'_id': ObjectId('670738445bbdfafa312266b5'), 'name': 'Special', 'age': 108, 'profile': {'Students': ['A', 'B'], 'Role': 'Teacher'}}

In [9]:
# Sample editing of data

import time

col.update_one(
    {"name": "Wong Wai Kit"},
    {"$set": {"lastupdated": time.time()}, "$inc": {"update": 1}},
)
print(col.find_one({"name": "Wong Wai Kit"}))

{'_id': ObjectId('670738385bbdfafa312266ad'), 'name': 'Wong Wai Kit', 'age': 18, 'lastupdated': 1728526436.2472315, 'update': 1}

In [10]:
# set upsert to be true so that it will insert the record if it is not found

col.update_one({"name": "F"}, {"$set": {"age": 25}}, upsert=True)
print(col.find_one({"name": "F"}))

{'_id': ObjectId('6707386e827bb48a45966e93'), 'name': 'F', 'age': 25}

In [11]:
# Sample aggregate query, to count how many people of each age

result = col.aggregate(
    [
        {
            "$group": {
                "_id": "$age",  # to refer to an attribute here, we need to add $ before the attribute name
                "num": {"$count": {}},
            }
        }
    ]
)

# convert the result into a list for easier printing
data = list(result)
print(data)

[{'_id': 35, 'num': 1}, {'_id': 108, 'num': 3}, {'_id': 18, 'num': 3}, {'_id': 25, 'num': 3}]

In [12]:
# Adding a sort operation

result = col.aggregate(
    [
        {"$group": {"_id": "$age", "num": {"$count": {}}}},
        {"$sort": {"num": -1, "_id": -1}},
    ]
)

data = list(result)
print(data)

[{'_id': 108, 'num': 3}, {'_id': 25, 'num': 3}, {'_id': 18, 'num': 3}, {'_id': 35, 'num': 1}]

In [13]:
# Adding some filtering conditions

result = col.aggregate(
    [
        {
            "$match": {
                "profile.Role": {"$ne": "Teacher"}
            }  # To find the documents who is not a Teacher
            # Also note that how we specify the attribute inside an attribute
        },
        {"$group": {"_id": "$age", "num": {"$count": {}}}},
        {
            "$match": {
                "num": {"$gt": 1}
            }  # Note that if count is 1 or 0, it will be shown in the result
        },
        {"$sort": {"num": -1, "_id": -1}},
    ]
)

data = list(result)
print(data)

[{'_id': 25, 'num': 3}, {'_id': 18, 'num': 3}, {'_id': 108, 'num': 2}]

In [22]:
# Try projection

result = col.aggregate(
    [
        {
            "$match": {
                "profile.Role": {"$ne": "Teacher"}
            }  
        },
        {
            "$project": {
                "new_name": "$name", # rename a field
                "age": True, # usual projection
                "next_year_age": {"$add": ["$age", 1]} # with some calculation
            }
        },        
    ]
)

data = list(result)
print(data)

[{'_id': ObjectId('670738385bbdfafa312266ad'), 'age': 18, 'new_name': 'Wong Wai Kit', 'next_year_age': 19}, {'_id': ObjectId('6707383a5bbdfafa312266ae'), 'age': 18, 'new_name': 'Amy Wong', 'next_year_age': 19}, {'_id': ObjectId('6707383a5bbdfafa312266af'), 'age': 108, 'new_name': 'Chris Wong', 'next_year_age': 109}, {'_id': ObjectId('670738445bbdfafa312266b0'), 'age': 18, 'new_name': 'A', 'next_year_age': 19}, {'_id': ObjectId('670738445bbdfafa312266b1'), 'age': 108, 'new_name': 'B', 'next_year_age': 109}, {'_id': ObjectId('670738445bbdfafa312266b2'), 'age': 25, 'new_name': 'C', 'next_year_age': 26}, {'_id': ObjectId('670738445bbdfafa312266b3'), 'age': 25, 'new_name': 'D', 'next_year_age': 26}, {'_id': ObjectId('670738445bbdfafa312266b4'), 'age': 35, 'new_name': 'E', 'next_year_age': 36}, {'_id': ObjectId('6707386e827bb48a45966e93'), 'age': 25, 'new_name': 'F', 'next_year_age': 26}, {'_id': ObjectId('67073d9d5bbdfafa312266b6'), 'new_name': 'Wong Wai Kit', 'next_year_age': None}]

In [14]:
# Another example

result = col.aggregate(
    [
        {"$match": {"profile.Role": "Teacher"}},
        {"$unwind": "$profile.Students"},
        {
            "$lookup": {  # it is like a join operation in SQL
                "from": "COM6002",  # another collection or in this case the same collection (for a self-join)
                "localField": "profile.Students",
                "foreignField": "name",
                "as": "data",
            }
        },
        {"$unwind": "$data"},  # the lookup result is a list. We need to flatten it
        {
            "$group": {
                "_id": "$name",
                "avg_age": {"$avg": "$data.age"},
                "num_students": {"$count": {}},
            }
        },
    ]
)

data = list(result)
print(data)

[{'_id': 'Special', 'avg_age': 63.0, 'num_students': 2}]